<h2>Latest posts:</h2>

<% @results.each do |item| %>
<p>
	<%= item['content'] %>
	<br />
	<%= item['created_date'] %>
	<br />
	<a href="/details/<%= item['id']%>">Comments</a>
</p>
<hr />
<% end %>

